Repository The-Aether-Team/The-Aether, pull requests merged in 2022-12, with the labels that each got.

#873 refactor(block)!: Remove AetherFlowerBlock
  gradle.properties
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
  src/main/java/com/gildedgames/aether/block/natural/AetherFlowerBlock.java
  src/main/resources/META-INF/mods.toml
Labels: status/pending-review, feat/block, type/refactor

#860 fix(entity): Rewrite Slider AI
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/Slider.java
  src/main/java/com/gildedgames/aether/mixin/mixins/debug/DebugPacketsMixin.java
  src/main/java/com/gildedgames/aether/mixin/mixins/debug/DebugRendererMixin.java
  src/main/java/com/gildedgames/aether/mixin/mixins/debug/PathAccessor.java
Labels: status/pending-review, type/enhancement, feat/entity

#875 refactor(inventory)!: inventory package cleanup
  src/main/java/com/gildedgames/aether/inventory/AetherRecipeBookTypes.java
  src/main/java/com/gildedgames/aether/inventory/container/LoreInventory.java
  src/main/java/com/gildedgames/aether/inventory/menu/AbstractAetherFurnaceMenu.java
  src/main/java/com/gildedgames/aether/inventory/menu/AccessoriesMenu.java
  src/main/java/com/gildedgames/aether/inventory/menu/AetherMenuTypes.java
  src/main/java/com/gildedgames/aether/inventory/menu/AltarMenu.java
  src/main/java/com/gildedgames/aether/inventory/menu/FreezerMenu.java
  src/main/java/com/gildedgames/aether/inventory/menu/IncubatorMenu.java
  src/main/java/com/gildedgames/aether/inventory/menu/LoreBookMenu.java
  src/main/java/com/gildedgames/aether/inventory/menu/slot/AetherFurnaceFuelSlot.java
  src/main/java/com/gildedgames/aether/inventory/menu/slot/IncubatorFuelSlot.java
  src/main/java/com/gildedgames/aether/inventory/provider/AccessoriesProvider.java
  src/main/java/com/gildedgames/aether/inventory/provider/LoreBookProvider.java
  src/main/java/com/gildedgames/aether/item/miscellaneous/LoreBookItem.java
  src/main/java/com/gildedgames/aether/network/packet/server/LoreExistsPacket.java
  src/main/java/com/gildedgames/aether/network/packet/server/OpenAccessoriesPacket.java
Labels: status/pending-review, type/refactor, type/repo

#877 fix: fixed silver heart rendering in certain scenarios
  src/main/java/com/gildedgames/aether/client/renderer/AetherOverlays.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/GuiAccessor.java
Labels: status/pending-review, type/bug, feat/gui

#876 refactor(util): Begin util cleanup
  src/main/java/com/gildedgames/aether/api/DungeonTracker.java
  src/main/java/com/gildedgames/aether/block/FreezingBehavior.java
  src/main/java/com/gildedgames/aether/block/dungeon/DoorwayBlock.java
  src/main/java/com/gildedgames/aether/block/natural/BerryBushBlock.java
  src/main/java/com/gildedgames/aether/block/portal/AetherPortalForcer.java
  src/main/java/com/gildedgames/aether/block/portal/AetherPortalShape.java
  src/main/java/com/gildedgames/aether/blockentity/AbstractAetherFurnaceBlockEntity.java
  src/main/java/com/gildedgames/aether/blockentity/IncubatorBlockEntity.java
  src/main/java/com/gildedgames/aether/entity/block/FloatingBlockEntity.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
  src/main/java/com/gildedgames/aether/item/miscellaneous/AetherPortalItem.java
  src/main/java/com/gildedgames/aether/util/ConfigSerializationUtil.java
  src/main/java/com/gildedgames/aether/util/ConstantsUtil.java
  src/main/java/com/gildedgames/aether/util/EntityUtil.java
  src/main/java/com/gildedgames/aether/util/LevelUtil.java
  src/main/java/com/gildedgames/aether/util/ServerSoundUtil.java
  src/main/java/com/gildedgames/aether/world/structurepiece/BronzeDungeonPieces.java
  src/main/java/com/gildedgames/aether/world/structurepiece/SilverDungeonPieces.java
Labels: status/in-progress, type/refactor, type/repo

#880 fix(lang): Altar and Freezer entries are now more accurate to mechanics
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
Labels: status/pending-review, type/design, feat/copy

#881 fix(entity): Thunder Crystals spawn lightning on death and apply more knockback
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/ThunderCrystal.java
Labels: status/pending-review, type/bug, type/design, feat/entity

#885 fix(item): Accessories no longer have "curio" tag
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/data/curios/tags/items/aether_accessory.json
  src/generated/resources/data/curios/tags/items/curio.json
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
Labels: status/pending-review, feat/item

#884 feat(structure): Random layouts for the silver dungeon
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
  src/main/java/com/gildedgames/aether/world/structure/SilverDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structurepiece/AetherStructurePieceTypes.java
  src/main/java/com/gildedgames/aether/world/structurepiece/SilverDungeonPieces.java
  src/main/resources/data/aether/structures/silver_dungeon/back.nbt
  src/main/resources/data/aether/structures/silver_dungeon/boss_door.nbt
  src/main/resources/data/aether/structures/silver_dungeon/boss_exterior.nbt
  src/main/resources/data/aether/structures/silver_dungeon/boss_room.nbt
  src/main/resources/data/aether/structures/silver_dungeon/chest_room.nbt
  src/main/resources/data/aether/structures/silver_dungeon/door.nbt
  src/main/resources/data/aether/structures/silver_dungeon/empty_room.nbt
  src/main/resources/data/aether/structures/silver_dungeon/entrance_exterior.nbt
  src/main/resources/data/aether/structures/silver_dungeon/floor.nbt
  src/main/resources/data/aether/structures/silver_dungeon/front.nbt
  src/main/resources/data/aether/structures/silver_dungeon/rear.nbt
  src/main/resources/data/aether/structures/silver_dungeon/skeleton.nbt
  src/main/resources/data/aether/structures/silver_dungeon/staircase.nbt
  src/main/resources/data/aether/structures/silver_dungeon/tall_staircase.nbt
  src/main/resources/data/aether/structures/silver_dungeon/test_door.nbt
  src/main/resources/data/aether/structures/silver_dungeon/wall.nbt
Labels: status/pending-review, type/enhancement, feat/world-gen

#886 fix(block): Trapped angelic blocks are now unbreakable and hellfire blocks follow this pattern
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
Labels: status/pending-review, feat/block

#887 improv(data): Include LevelStem datagen with AetherWorldGenData
  gradle.properties
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/.cache/248190968468b9dc2bff1b7b2131784d0d7857d4
  src/main/java/com/gildedgames/aether/Aether.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLevelStemData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherWorldGenData.java
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherDimensions.java
Labels: status/pending-review, feat/world-gen, feat/system

#890 fix: Keys are no longer damaged by lightning
  src/main/java/com/gildedgames/aether/event/hooks/EntityHooks.java
  src/main/java/com/gildedgames/aether/event/listeners/EntityListener.java
Labels: status/pending-review
