Repository The-Aether-Team/The-Aether, pull requests merged in 2022-09, with the labels that each got.

#794 fix(audio): Certain mob sounds now playback correctly in stereo space
  src/main/resources/assets/aether/sounds/entity/aerbunny/death.ogg
  src/main/resources/assets/aether/sounds/entity/aerbunny/hurt.ogg
  src/main/resources/assets/aether/sounds/entity/aerwhale/death.ogg
  src/main/resources/assets/aether/sounds/entity/moa/say.ogg
  src/main/resources/assets/aether/sounds/entity/zephyr/call.ogg
  src/main/resources/assets/aether/sounds/entity/zephyr/shoot.ogg
Labels: status/pending-review, type/bug, feat/audio

#809 Defer to using constructors directly rather than Google's helper methods
  src/main/java/com/gildedgames/aether/api/AetherPlayerRankings.java
  src/main/java/com/gildedgames/aether/api/CustomizationsOptions.java
  src/main/java/com/gildedgames/aether/blockentity/AbstractAetherFurnaceBlockEntity.java
  src/main/java/com/gildedgames/aether/blockentity/AltarBlockEntity.java
  src/main/java/com/gildedgames/aether/blockentity/FreezerBlockEntity.java
  src/main/java/com/gildedgames/aether/blockentity/IncubatorBlockEntity.java
  src/main/java/com/gildedgames/aether/entity/passive/Sheepuff.java
  src/main/java/com/gildedgames/aether/item/miscellaneous/MoaEggItem.java
  src/main/java/com/gildedgames/aether/item/miscellaneous/bucket/SkyrootBucketItem.java
  src/main/java/com/gildedgames/aether/loot/AetherLoot.java
  src/main/java/com/gildedgames/aether/recipe/BlockPropertyPair.java
  src/main/java/com/gildedgames/aether/recipe/BlockStateIngredient.java
  src/main/java/com/gildedgames/aether/util/BlockStateRecipeUtil.java
Labels: status/pending-review, type/refactor

#814 refactor: Changed Slider death animation.
  src/main/java/com/gildedgames/aether/client/renderer/entity/SliderRenderer.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/Slider.java
Labels: status/pending-review, type/design, feat/entity

#813 refactor: Offset crafting text upwards slightly
  src/main/java/com/gildedgames/aether/client/gui/screen/inventory/AccessoriesScreen.java
Labels: status/pending-review, type/design, feat/gui

#817 fix: Make sure delete item button isn't null to run delete code
  src/main/java/com/gildedgames/aether/client/gui/screen/inventory/AccessoriesScreen.java
Labels: type/bug, feat/gui

#815 fix: Fix world preview issues
  src/main/java/com/gildedgames/aether/client/event/hooks/EntityRenderHooks.java
  src/main/java/com/gildedgames/aether/client/event/hooks/GuiHooks.java
  src/main/java/com/gildedgames/aether/client/event/hooks/LevelClientHooks.java
  src/main/java/com/gildedgames/aether/client/event/listeners/EntityRenderListener.java
  src/main/java/com/gildedgames/aether/client/event/listeners/GuiListener.java
  src/main/java/com/gildedgames/aether/client/event/listeners/LevelClientListener.java
Labels: type/bug, feat/system, type/refactor, feat/gui

#818 fix: Dungeon block overlay disappear speeds were too slow.
  src/main/java/com/gildedgames/aether/client/event/hooks/LevelClientHooks.java
Labels: status/pending-review, type/design, feat/block

#826 feat: Implemented and fixed missing and incorrect language entries.
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/gildedgames/aether/blockentity/TreasureChestBlockEntity.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
Labels: status/pending-review, type/design, feat/copy

#823 feat(compat): JEI Compatibility
  build.gradle
  gradle.properties
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/gildedgames/aether/compat/jei/AetherJEIPlugin.java
  src/main/java/com/gildedgames/aether/compat/jei/categories/AbstractAetherCookingRecipeCategory.java
  src/main/java/com/gildedgames/aether/compat/jei/categories/AltarRepairRecipeCategory.java
  src/main/java/com/gildedgames/aether/compat/jei/categories/EnchantingCookingRecipeCategory.java
  src/main/java/com/gildedgames/aether/compat/jei/categories/FreezingRecipeCategory.java
  src/main/java/com/gildedgames/aether/compat/jei/categories/IncubationRecipeCategory.java
  src/main/java/com/gildedgames/aether/compat/jei/categories/fuel/AetherFuelCategory.java
  src/main/java/com/gildedgames/aether/compat/jei/categories/fuel/AetherFuelRecipe.java
  src/main/java/com/gildedgames/aether/compat/jei/categories/fuel/AetherFuelRecipeMaker.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
Labels: status/pending-review, type/compatibility, feat/gui

#795 Slider Fixes and Improvements
  src/main/java/com/gildedgames/aether/api/DungeonTracker.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/Slider.java
  src/main/java/com/gildedgames/aether/item/AetherItems.java
  src/main/java/com/gildedgames/aether/item/miscellaneous/SliderSpawnEggItem.java
Labels: status/blocked, status/pending-review, type/bug, feat/entity

#835 fix: Boss fixes.
  src/generated/resources/.cache/735031f3addf80804addae5e3f53249900116f1e
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/generated/resources/assets/aether/sounds.json
  src/main/java/com/gildedgames/aether/api/DungeonTracker.java
  src/main/java/com/gildedgames/aether/client/AetherSoundEvents.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherSoundData.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/Slider.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
Labels: status/pending-review, feat/entity, feat/audio

#837 fix: Accessory screen updates its width value dynamically according to gamemode
  src/main/java/com/gildedgames/aether/client/event/hooks/GuiHooks.java
  src/main/java/com/gildedgames/aether/client/event/listeners/GuiListener.java
  src/main/java/com/gildedgames/aether/client/gui/screen/inventory/AccessoriesScreen.java
Labels: status/pending-review, feat/gui

#834 feat: Forge related changes, renamed compat to integration, and edited buildscript.
  build.gradle
  src/generated/resources/.cache/7452c67c310ec945bc69debcbc8a0b3dc4f92884
  src/generated/resources/.cache/8a4be48a5ee7e414aa9b943597b34daf4f2f95c1
  src/generated/resources/data/forge/tags/blocks/bookshelves.json
  src/generated/resources/data/forge/tags/entity_types/bosses.json
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBlockTagData.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherEntityTagData.java
  src/main/java/com/gildedgames/aether/integration/jei/AetherJEIPlugin.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/AbstractAetherCookingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/AltarRepairRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/EnchantingCookingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/FreezingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/IncubationRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/fuel/AetherFuelCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/fuel/AetherFuelRecipe.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/fuel/AetherFuelRecipeMaker.java
  src/main/java/com/gildedgames/aether/world/treegrower/GoldenOakTree.java
  src/main/java/com/gildedgames/aether/world/treegrower/LevelTreeGrower.java
  src/main/java/com/gildedgames/aether/world/treegrower/SkyrootTree.java
Labels: status/pending-review

#836 fix: Fix overlapping music (hopefully)
  src/main/java/com/gildedgames/aether/client/AetherMusicManager.java
Labels: status/pending-review, feat/audio

#833 fix: Fix a couple recipes.
  src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
  src/generated/resources/data/aether/advancements/recipes/aether_weapons/poison_dart_shooter.json
  src/generated/resources/data/aether/recipes/holystone_button.json
  src/generated/resources/data/aether/recipes/holystone_pressure_plate.json
  src/generated/resources/data/aether/recipes/poison_dart_shooter.json
  src/generated/resources/data/aether/recipes/skyroot_chest_boat.json
  src/main/java/com/gildedgames/aether/data/generators/AetherRecipeData.java
Labels: status/pending-review

#840 Rebalance and fix the sun spirit
  src/main/java/com/gildedgames/aether/client/renderer/AetherRenderers.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/CloudCrystalRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/FireMinionRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/IceCrystalRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/model/FireMinionModel.java
  src/main/java/com/gildedgames/aether/entity/AetherEntityTypes.java
  src/main/java/com/gildedgames/aether/entity/ai/goal/ContinuousMeleeAttackGoal.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/FireMinion.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/Slider.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/FireCrystal.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/IceCrystal.java
  src/main/java/com/gildedgames/aether/world/structurepiece/GoldDungeonPieces.java
Labels: status/pending-review, type/design, feat/entity
