Repository The-Aether-Team/The-Aether, pull requests merged in 2022-11, with the labels that each got.

#811 feat(structure): Add the bronze dungeon to the Aether
  src/generated/resources/.cache/4a620f08c2dd26e75e94524bbb71add0ad1bc325
  src/generated/resources/.cache/55f0273cb61243ff3d2fde23212f03e66541da02
  src/generated/resources/.cache/63a021942da19534fa76a96f23a5878ca1d9a371
  src/generated/resources/.cache/7452c67c310ec945bc69debcbc8a0b3dc4f92884
  src/generated/resources/.cache/797771fa92c9781c2c346f8c74e71a22b0dcdf25
  src/generated/resources/.cache/e4d7f7b05c507d533af44beac9beab0a9fabc42f
  src/generated/resources/data/aether/tags/blocks/locked_dungeon_blocks.json
  src/generated/resources/data/aether/tags/items/locked_dungeon_blocks.json
  src/generated/resources/data/aether/tags/worldgen/biome/has_bronze_dungeon.json
  src/generated/resources/data/aether/tags/worldgen/biome/has_silver_dungeon.json
  src/generated/resources/data/aether/worldgen/noise_settings/skylands.json
  src/generated/resources/data/aether/worldgen/structure/bronze_dungeon.json
  src/generated/resources/data/aether/worldgen/structure/silver_dungeon.json
  src/generated/resources/data/aether/worldgen/structure_set/bronze_dungeon.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
  src/main/java/com/gildedgames/aether/block/dungeon/TreasureDoorwayBlock.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBiomeTagData.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBlockTagData.java
  src/main/java/com/gildedgames/aether/data/resources/AetherStructureSets.java
  src/main/java/com/gildedgames/aether/data/resources/AetherStructures.java
  src/main/java/com/gildedgames/aether/data/resources/builders/AetherNoiseBuilders.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/Slider.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
  src/main/java/com/gildedgames/aether/util/BlockLogicUtil.java
  src/main/java/com/gildedgames/aether/world/processor/AetherStructureProcessors.java
  src/main/java/com/gildedgames/aether/world/processor/DungeonStoneProcessor.java
  src/main/java/com/gildedgames/aether/world/processor/HellfireStoneProcessor.java
  src/main/java/com/gildedgames/aether/world/processor/NoReplaceProcessor.java
  src/main/java/com/gildedgames/aether/world/structure/AetherStructureTypes.java
  src/main/java/com/gildedgames/aether/world/structure/BronzeDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structure/SilverDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structurepiece/AetherStructurePieceTypes.java
  src/main/java/com/gildedgames/aether/world/structurepiece/BronzeDungeonGraph.java
  src/main/java/com/gildedgames/aether/world/structurepiece/BronzeDungeonPieces.java
  src/main/java/com/gildedgames/aether/world/structurepiece/GoldDungeonPieces.java
  src/main/java/com/gildedgames/aether/world/structurepiece/SilverDungeonPieces.java
  src/main/resources/data/aether/structures/bronze_dungeon/boss_room.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/chest.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/chest_mimic.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/chest_room.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/end_corridor.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/far_entrance_chest_room.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/holystone_tunnel.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/lobby.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/pair_entrance_chest_room.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/quad_entrance_chest_room.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/single_entrance_chest_room.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/square_tunnel.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/tri_entrance_chest_room.nbt
  src/main/resources/data/aether/structures/silver_dungeon/back.nbt
  src/main/resources/data/aether/structures/silver_dungeon/boss_room.nbt
  src/main/resources/data/aether/structures/silver_dungeon/front.nbt
Labels: status/pending-review, type/feature, feat/world-gen

#854 improv(entity): Valkyrie and Valkyrie Queen improvements
  src/main/java/com/gildedgames/aether/api/DungeonTracker.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/AbstractValkyrie.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/Valkyrie.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/ThunderCrystal.java
Labels: status/pending-review, feat/entity

#858 feat(item): More item fixes and additions
  src/generated/resources/.cache/797771fa92c9781c2c346f8c74e71a22b0dcdf25
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/generated/resources/data/curios/tags/items/aether_accessory.json
  src/generated/resources/data/curios/tags/items/aether_cape.json
  src/generated/resources/data/curios/tags/items/aether_gloves.json
  src/generated/resources/data/curios/tags/items/aether_pendant.json
  src/generated/resources/data/curios/tags/items/aether_ring.json
  src/generated/resources/data/curios/tags/items/back.json
  src/generated/resources/data/curios/tags/items/charm.json
  src/generated/resources/data/curios/tags/items/curio.json
  src/generated/resources/data/curios/tags/items/hands.json
  src/generated/resources/data/curios/tags/items/necklace.json
  src/generated/resources/data/curios/tags/items/ring.json
  src/main/java/com/gildedgames/aether/AetherConfig.java
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/capability/AetherCapabilities.java
  src/main/java/com/gildedgames/aether/capability/cape/CapeEntity.java
  src/main/java/com/gildedgames/aether/capability/cape/CapeEntityCapability.java
  src/main/java/com/gildedgames/aether/capability/cape/CapeEntityProvider.java
  src/main/java/com/gildedgames/aether/client/renderer/accessory/CapeRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/player/layer/PlayerWingsLayer.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
  src/main/java/com/gildedgames/aether/event/hooks/CapabilityHooks.java
  src/main/java/com/gildedgames/aether/event/listeners/capability/CapeEntityListener.java
  src/main/java/com/gildedgames/aether/item/combat/loot/CloudStaffItem.java
  src/main/java/com/gildedgames/aether/item/combat/loot/HammerOfNotchItem.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/LivingEntityMixin.java
  src/main/resources/aether.mixins.json
Labels: status/pending-review, type/enhancement, feat/item

#859 refactor: Balanced icestone fuel values
  src/main/java/com/gildedgames/aether/Aether.java
Labels: status/pending-review, type/design, feat/block

#864 fix(entity): Fix named easter eggs
  src/main/java/com/gildedgames/aether/client/renderer/entity/FireMinionRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/MoaRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/layers/PhygHaloLayer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/layers/SheepuffWoolLayer.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/FireMinion.java
  src/main/java/com/gildedgames/aether/entity/passive/Aerwhale.java
Labels: status/pending-review, type/bug, feat/entity

#865 improv(block): Fix locked overlay applying to dungeon doorways
  src/generated/resources/.cache/7452c67c310ec945bc69debcbc8a0b3dc4f92884
  src/generated/resources/.cache/797771fa92c9781c2c346f8c74e71a22b0dcdf25
  src/generated/resources/data/aether/tags/blocks/locked_dungeon_blocks.json
  src/generated/resources/data/aether/tags/blocks/slider_unbreakable.json
  src/generated/resources/data/aether/tags/items/locked_dungeon_blocks.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBlockTagData.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/Slider.java
Labels: status/pending-review, type/bug, feat/block

#868 fix(feature): Fix issues with tree placement
  src/generated/resources/.cache/4a620f08c2dd26e75e94524bbb71add0ad1bc325
  src/generated/resources/.cache/84fe6562c3263bad7911908ec1f7b4c6a74e7999
  src/generated/resources/data/aether/worldgen/placed_feature/golden_forest_trees.json
  src/generated/resources/data/aether/worldgen/placed_feature/skyroot_forest_trees.json
  src/generated/resources/data/aether/worldgen/placed_feature/skyroot_grove_trees.json
  src/generated/resources/data/aether/worldgen/placed_feature/skyroot_thicket_trees.json
  src/main/java/com/gildedgames/aether/data/resources/builders/AetherFeatureBuilders.java
  src/main/java/com/gildedgames/aether/world/placementmodifier/DungeonBlacklistFilter.java
  src/main/java/com/gildedgames/aether/world/placementmodifier/ImprovedLayerPlacementModifier.java
  src/main/java/com/gildedgames/aether/world/structure/outdated/AetherConfiguredStructures.java
  src/main/java/com/gildedgames/aether/world/structure/outdated/AetherStructureIngress.java
  src/main/java/com/gildedgames/aether/world/structure/outdated/AetherStructures.java
  src/main/java/com/gildedgames/aether/world/structure/outdated/BronzeDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structure/outdated/GoldDungeonStructure.java
Labels: status/pending-review, type/bug, type/crash, feat/world-gen

#867 refactor: Clean up deprecation warnings
  src/generated/resources/.cache/84fe6562c3263bad7911908ec1f7b4c6a74e7999
  src/generated/resources/data/aether/worldgen/placed_feature/holiday_tree.json
  src/main/java/com/gildedgames/aether/Aether.java
  src/main/java/com/gildedgames/aether/client/AetherClient.java
  src/main/java/com/gildedgames/aether/client/AetherColorResolvers.java
  src/main/java/com/gildedgames/aether/client/renderer/AetherOverlays.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/FloatingBlockRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/LightningKnifeRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/ParachuteRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/TNTPresentRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/WhirlwindRenderer.java
  src/main/java/com/gildedgames/aether/data/resources/AetherConfiguredFeatures.java
  src/main/java/com/gildedgames/aether/data/resources/AetherPlacedFeatures.java
  src/main/java/com/gildedgames/aether/entity/AetherEntityTypes.java
  src/main/java/com/gildedgames/aether/entity/monster/AbstractWhirlwind.java
  src/main/java/com/gildedgames/aether/entity/passive/Aerwhale.java
  src/main/java/com/gildedgames/aether/entity/passive/MountableAnimal.java
  src/main/java/com/gildedgames/aether/entity/projectile/ZephyrSnowball.java
  src/main/java/com/gildedgames/aether/recipe/BlockStateIngredient.java
  src/main/java/com/gildedgames/aether/util/BlockStateRecipeUtil.java
Labels: status/pending-review, type/refactor, type/repo

#861 feat(structure): Implement the silver dungeon
  src/generated/resources/.cache/63a021942da19534fa76a96f23a5878ca1d9a371
  src/generated/resources/data/aether/worldgen/structure_set/silver_dungeon.json
  src/main/java/com/gildedgames/aether/data/resources/AetherStructureSets.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/AbstractValkyrie.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
  src/main/java/com/gildedgames/aether/world/structure/SilverDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structurepiece/AetherStructurePieceTypes.java
  src/main/java/com/gildedgames/aether/world/structurepiece/SilverDungeonPieces.java
  src/main/resources/data/aether/structures/silver_dungeon/front.nbt
Labels: status/pending-review, type/feature, feat/world-gen

#870 docs(effect): Document InebriationEffect
  src/main/java/com/gildedgames/aether/effect/InebriationEffect.java
Labels: status/pending-review, type/refactor, type/repo

#871 refactor(command): Commands cleanup
  src/main/java/com/gildedgames/aether/command/AetherTimeCommand.java
  src/main/java/com/gildedgames/aether/command/EternalDayCommand.java
  src/main/java/com/gildedgames/aether/command/PlayerCapabilityCommand.java
  src/main/java/com/gildedgames/aether/command/SunAltarWhitelistCommand.java
  src/main/java/com/gildedgames/aether/command/WorldPreviewFixCommand.java
Labels: status/pending-review, type/refactor, type/repo

#872 refactor(loot): Loot package cleanup
  src/main/java/com/gildedgames/aether/item/tools/abilities/SkyrootTool.java
  src/main/java/com/gildedgames/aether/loot/AetherLoot.java
  src/main/java/com/gildedgames/aether/loot/conditions/ConfigEnabled.java
  src/main/java/com/gildedgames/aether/loot/functions/DoubleDrops.java
  src/main/java/com/gildedgames/aether/loot/functions/SpawnTNT.java
  src/main/java/com/gildedgames/aether/loot/functions/SpawnXP.java
  src/main/java/com/gildedgames/aether/loot/functions/WhirlwindSpawnEntity.java
  src/main/java/com/gildedgames/aether/loot/modifiers/RemoveSeedsModifier.java
Labels: status/pending-review, type/refactor, type/repo
