Repository The-Aether-Team/The-Aether, pull requests merged in 2023-03, with the labels that each got.

#1012 feat: Use entity processing to make bosses for dungeons
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/Slider.java
  src/main/java/com/gildedgames/aether/world/processor/AetherPosRuleTests.java
  src/main/java/com/gildedgames/aether/world/processor/AetherStructureProcessors.java
  src/main/java/com/gildedgames/aether/world/processor/BorderBoxPosTest.java
  src/main/java/com/gildedgames/aether/world/processor/BossRoomProcessor.java
  src/main/java/com/gildedgames/aether/world/structure/SilverDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structurepiece/AetherStructurePieceTypes.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeBossRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/golddungeon/GoldBossRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverBossDetail.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverBossRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverDungeonPiece.java
  src/main/resources/data/aether/structures/bronze_dungeon/boss_room.nbt
  src/main/resources/data/aether/structures/gold_dungeon/boss_room.nbt
  src/main/resources/data/aether/structures/silver_dungeon/boss_detail.nbt
  src/main/resources/data/aether/structures/silver_dungeon/boss_room.nbt
Labels: status/pending-review, feat/world-gen

#1015 fix(entity): Ensure Moas have a MoaType with /summon
  src/main/java/com/gildedgames/aether/entity/passive/Moa.java
Labels: status/pending-review, feat/entity

#1021 Sentry adjustments
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/Sentry.java
Labels: status/pending-review, feat/entity

#1024 refactor: Change how zanite accessory durability works
  src/main/java/com/gildedgames/aether/event/hooks/AbilityHooks.java
  src/main/java/com/gildedgames/aether/event/listeners/abilities/AccessoryAbilityListener.java
  src/main/java/com/gildedgames/aether/item/accessories/abilities/ZaniteAccessory.java
  src/main/java/com/gildedgames/aether/item/accessories/pendant/ZanitePendantItem.java
  src/main/java/com/gildedgames/aether/item/accessories/ring/ZaniteRingItem.java
  src/main/java/com/gildedgames/aether/util/EquipmentUtil.java
Labels: status/pending-review

#1025 fix: Valkyrie Queen should no longer despawn
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
Labels: feat/entity

#1026 refactor: Better particle handling for crystal projectiles
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/AbstractCrystal.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/CloudCrystal.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/FireCrystal.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/IceCrystal.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/ThunderCrystal.java
Labels: feat/entity

#1027 fix: Aerbunny gets properly dismounted under more circumstances
  src/main/java/com/gildedgames/aether/entity/passive/Aerbunny.java
Labels: feat/entity

#1028 fix: Sun Spirit will ignore invisibility now
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/item/accessories/cape/InvisibilityCloakItem.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/LookAtPlayerGoalAccessor.java
  src/main/resources/aether.mixins.json
Labels: feat/entity

#1034 fix: Slider ignores line of sight
  src/main/java/com/gildedgames/aether/entity/ai/brain/sensing/InDungeonPlayerSensor.java
Labels: status/pending-review, feat/entity

#1022 hopefully final Sun Spirit adjustments
  src/main/java/com/gildedgames/aether/entity/AetherEntityTypes.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/FireMinion.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/FireCrystal.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/IceCrystal.java
Labels: status/pending-review, feat/entity

#1038 feat: added swet ball recipes for remaining slimeball recipes
  src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
  src/generated/resources/data/aether/advancements/recipes/redstone/swet_slime_block.json
  src/generated/resources/data/aether/advancements/recipes/redstone/swet_sticky_piston.json
  src/generated/resources/data/aether/recipes/swet_slime_block.json
  src/generated/resources/data/aether/recipes/swet_sticky_piston.json
  src/main/java/com/gildedgames/aether/data/generators/AetherRecipeData.java
Labels: status/pending-review, feat/system

#1036 feat: Change aechor plant spawn conditions to have a random check
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/biome/skyroot_forest.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_grove.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_meadow.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_woodland.json
  src/main/java/com/gildedgames/aether/data/resources/builders/AetherBiomeBuilders.java
  src/main/java/com/gildedgames/aether/entity/monster/AechorPlant.java
Labels: status/pending-review, feat/entity

#1031 refactor: Structure organization and documentation
  src/main/java/com/gildedgames/aether/world/AetherLevelData.java
  src/main/java/com/gildedgames/aether/world/WrappedGameRules.java
  src/main/java/com/gildedgames/aether/world/placementmodifier/DungeonBlacklistFilter.java
  src/main/java/com/gildedgames/aether/world/processor/VerticalGradientProcessor.java
  src/main/java/com/gildedgames/aether/world/structure/BronzeDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structure/GoldDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structure/LargeAercloudStructure.java
  src/main/java/com/gildedgames/aether/world/structure/SilverDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structurepiece/AetherStructurePieceTypes.java
  src/main/java/com/gildedgames/aether/world/structurepiece/LargeAercloudPiece.java
  src/main/java/com/gildedgames/aether/world/structurepiece/LegacyCloudBed.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeDungeonRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeTunnel.java
  src/main/java/com/gildedgames/aether/world/structurepiece/golddungeon/GoldIsland.java
  src/main/java/com/gildedgames/aether/world/structurepiece/golddungeon/GoldStub.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverBossRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverDungeonBuilder.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverDungeonPiece.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverFloorPiece.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverTemplePiece.java
Labels: status/pending-review, feat/world-gen, feat/docs

#1041 fix: The sun spirit no longer despawns on peaceful
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/Slider.java
Labels: status/pending-review, feat/entity

#1037 refactor: BossMob cleanup
  src/main/java/com/gildedgames/aether/api/BossRoomTracker.java
  src/main/java/com/gildedgames/aether/entity/BossMob.java
  src/main/java/com/gildedgames/aether/entity/ai/goal/target/InBossRoomTargetGoal.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/Slider.java
  src/main/java/com/gildedgames/aether/world/processor/BossRoomProcessor.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeBossRoom.java
Labels: status/pending-review, feat/entity

#1042 fix: Phoenix arrows don't burn endermen
  src/main/java/com/gildedgames/aether/event/hooks/AbilityHooks.java
Labels: status/pending-review, feat/item, feat/entity

#1058 fix: restored accurate 1.2 material block textures in the 1.2 resourc…
  src/main/resources/packs/classic_125/assets/aether/textures/block/construction/enchanted_gravitite.png
  src/main/resources/packs/classic_125/assets/aether/textures/block/construction/zanite_block.png
Labels: status/pending-review, feat/art

#1056 fix: Valkyrie queens no longer despawn
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
Labels: status/pending-review, feat/entity

#1051 Dungeon loot rework
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_disc.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_gummies.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_loot.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_reward.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_sub_1.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_sub_2.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_sub_3.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_sub_4.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_trash.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_treasure.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_cape_config.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_gravitite.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_gummies.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_neptune.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_treasure.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_valkyrie.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/gold/gold_dungeon_reward.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/gold/gold_dungeon_reward_sub_1.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/gold/gold_dungeon_reward_sub_4.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/gold/gold_dungeon_reward_sub_5.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/gold/gold_dungeon_treasure.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_disc.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_loot.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_reward.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_reward_sub_1.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_sub_1.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_sub_2.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_sub_3.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_sub_4.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_sub_5.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_sub_6.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_sub_7.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_trash.json
  src/generated/resources/data/aether/loot_tables/entities/mimic.json
  src/generated/resources/data/aether/tags/items/no_skyroot_double_drops.json
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherDungeonLoot.java
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherEntityLoot.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
  src/main/java/com/gildedgames/aether/loot/AetherLoot.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeDungeonRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverDungeonRoom.java
Labels: status/pending-review, type/design, type/enhancement, feat/system

#1059 fix: Remove offhand reach modifier from valkyrie tools
  src/main/java/com/gildedgames/aether/event/hooks/AbilityHooks.java
  src/main/java/com/gildedgames/aether/item/tools/abilities/ValkyrieTool.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/ItemMixin.java
Labels: status/pending-review, feat/item

#1061 Fix: Valkyrie tool attack range
  src/main/java/com/gildedgames/aether/event/hooks/AbilityHooks.java
Labels: status/pending-review

#1062 Enhancement: updated panorama images
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_0.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_1.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_2.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_3.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_4.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_5.png
Labels: status/pending-review, feat/art

#1063 feat: Aerbunnies work the same way as in beta
  src/main/java/com/gildedgames/aether/entity/passive/Aerbunny.java
Labels: feat/entity

#1065 refactor: Reworked phoenix armor and neptune armor set logic
  src/main/java/com/gildedgames/aether/event/listeners/abilities/ArmorAbilityListener.java
  src/main/java/com/gildedgames/aether/item/AetherItems.java
  src/main/java/com/gildedgames/aether/item/accessories/gloves/NeptuneGlovesItem.java
  src/main/java/com/gildedgames/aether/item/combat/abilities/armor/NeptuneArmor.java
  src/main/java/com/gildedgames/aether/item/combat/abilities/armor/PhoenixArmor.java
  src/main/java/com/gildedgames/aether/item/combat/loot/NeptuneArmorItem.java
Labels: status/pending-review, feat/item

#1057 fix: Sun spirit can now move across the full room
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
Labels: status/pending-review, feat/entity

#1071 feat: Cleaner bronze dungeon merging
  src/generated/resources/.cache/22b50738883487d1ef1961d9e5ff26fe1c21b339
  src/generated/resources/data/aether/tags/blocks/non_tunnel_replaceable.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBlockTagData.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeDungeonPiece.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeDungeonRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeTunnel.java
Labels: status/pending-review, feat/world-gen

#1079 update(forge): 45.0.9 -> 45.0.13
  gradle.properties
  src/main/resources/META-INF/mods.toml
Labels: status/pending-review

#1080 fix: Baby aerbunny rendering offset
  src/main/java/com/gildedgames/aether/client/renderer/entity/AerbunnyRenderer.java
Labels: status/pending-review, feat/entity

#1082 ci: Set up ci-controlled platform publishing from GitHub Releases
  .circleci/config.yml
  build.gradle
  docs/CHANGELOG.md
  gradle.properties
Labels: status/in-progress, type/repo

#1085 ci: Conditional Discord publishing
  .circleci/config.yml
Labels: status/pending-review, type/repo

#1083 fix: Remove workaround for milking that may have been causing issues
  src/main/java/com/gildedgames/aether/event/hooks/EntityHooks.java
  src/main/java/com/gildedgames/aether/network/AetherPacketHandler.java
  src/main/java/com/gildedgames/aether/network/packet/server/MilkCowPacket.java
Labels: status/pending-review, feat/entity

#1086 fix: End Portals no longer dupe floating blocks
  src/main/java/com/gildedgames/aether/entity/block/FloatingBlockEntity.java
Labels: status/pending-review, feat/entity, feat/block

#1089 ci: Set up conditional workflow behavior
  .circleci/config.yml
  .circleci/continue_config.yml
  docs/CREDITS.txt
  docs/README.md
Labels: type/repo

#1090 ci: Conditional workflow behavior
  .circleci/config.yml
  .circleci/continue_config.yml
  docs/CREDITS.txt
  docs/README.md
Labels: type/repo

#1088 fix: Better accessory shift click quick move functionality
  src/main/java/com/gildedgames/aether/inventory/menu/AccessoriesMenu.java
Labels: status/pending-review, feat/gui

#1091 Enhancement: Compressed panorama files
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_0.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_1.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_2.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_3.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_4.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_5.png
Labels: status/pending-review, feat/art

#1105 fix: Double slabs drop two slab items
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/data/aether/loot_tables/blocks/aerogel_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/angelic_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/carved_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/hellfire_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/holystone_brick_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/holystone_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/icestone_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/mossy_holystone_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/skyroot_slab.json
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherBlockLoot.java
Labels: status/pending-review, feat/block

#1081 fix: Parachute rendering and shadows
  src/main/java/com/gildedgames/aether/client/renderer/entity/ParachuteRenderer.java
Labels: status/pending-review, feat/entity
