Repository The-Aether-Team/The-Aether, pull requests merged in 2023-02, with the labels that each got.

#940 refactor: Make inebriation display effect icon in corner
  src/main/java/com/gildedgames/aether/entity/projectile/PoisonNeedle.java
  src/main/java/com/gildedgames/aether/entity/projectile/dart/PoisonDart.java
  src/main/java/com/gildedgames/aether/item/miscellaneous/bucket/SkyrootPoisonBucketItem.java
Labels: status/pending-review

#938 feat: Skyroot Tadpole Bucket programmer art
  src/main/resources/packs/classic_base/assets/aether/textures/item/miscellaneous/skyroot_tadpole_bucket.png
Labels: status/pending-review, feat/art

#935 fix: Items now render in hand properly with Invisibility Cloak
  src/main/java/com/gildedgames/aether/client/event/hooks/HandRenderHooks.java
  src/main/java/com/gildedgames/aether/client/event/listeners/abilities/AccessoryAbilityClientListener.java
Labels: status/pending-review

#941 fix: Bosses can no longer be pushed through doorways at all
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
  src/main/java/com/gildedgames/aether/block/dungeon/DoorwayBlock.java
Labels: status/pending-review, feat/entity, feat/block

#942 fix(entity): Mount-related fixes
  src/main/java/com/gildedgames/aether/entity/monster/Swet.java
  src/main/java/com/gildedgames/aether/entity/passive/Moa.java
  src/main/java/com/gildedgames/aether/entity/passive/WingedAnimal.java
Labels: status/pending-review, feat/entity

#939 refactor: Make various tweaks and rebalancing of equipment
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/.cache/735031f3addf80804addae5e3f53249900116f1e
  src/generated/resources/.cache/93ef46d8e2a70c25df1652217c68bb7a1c161142
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/generated/resources/assets/aether/models/item/hammer_of_kingbdogz.json
  src/generated/resources/assets/aether/sounds.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_reward.json
  src/generated/resources/data/aether/tags/items/hammer_of_kingbdogz_repairing.json
  src/generated/resources/data/aether/tags/items/tools/hammers.json
  src/main/java/com/gildedgames/aether/Aether.java
  src/main/java/com/gildedgames/aether/AetherConfig.java
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
  src/main/java/com/gildedgames/aether/block/dispenser/AetherDispenseBehaviors.java
  src/main/java/com/gildedgames/aether/capability/player/AetherPlayer.java
  src/main/java/com/gildedgames/aether/capability/player/AetherPlayerCapability.java
  src/main/java/com/gildedgames/aether/client/AetherClient.java
  src/main/java/com/gildedgames/aether/client/AetherSoundEvents.java
  src/main/java/com/gildedgames/aether/client/renderer/AetherOverlays.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/HammerProjectileRenderer.java
  src/main/java/com/gildedgames/aether/data/generators/AetherItemModelData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherSoundData.java
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherDungeonLoot.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
  src/main/java/com/gildedgames/aether/item/AetherCreativeTabs.java
  src/main/java/com/gildedgames/aether/item/AetherItems.java
  src/main/java/com/gildedgames/aether/item/combat/AetherArmorMaterials.java
  src/main/java/com/gildedgames/aether/item/combat/AetherItemTiers.java
  src/main/java/com/gildedgames/aether/item/combat/abilities/armor/NeptuneArmor.java
  src/main/java/com/gildedgames/aether/item/combat/abilities/armor/PhoenixArmor.java
  src/main/java/com/gildedgames/aether/item/combat/loot/HammerOfKingbdogzItem.java
  src/main/java/com/gildedgames/aether/item/tools/valkyrie/ValkyrieHoeItem.java
  src/main/resources/assets/aether/lang/de_de.json
  src/main/resources/assets/aether/lang/en_ud.json
  src/main/resources/assets/aether/lang/es_mx.json
  src/main/resources/assets/aether/lang/fr_fr.json
  src/main/resources/assets/aether/lang/id_id.json
  src/main/resources/assets/aether/lang/it_it.json
  src/main/resources/assets/aether/lang/ja_jp.json
  src/main/resources/assets/aether/lang/ko_kr.json
  src/main/resources/assets/aether/lang/lol_us.json
  src/main/resources/assets/aether/lang/nl_nl.json
  src/main/resources/assets/aether/lang/pl_pl.json
  src/main/resources/assets/aether/lang/ro_ro.json
  src/main/resources/assets/aether/lang/ru_ru.json
  src/main/resources/assets/aether/lang/sv_se.json
  src/main/resources/assets/aether/lang/th_th.json
  src/main/resources/assets/aether/lang/uk_ua.json
  src/main/resources/assets/aether/lang/zh_cn.json
  src/main/resources/assets/aether/lang/zh_tw.json
  src/main/resources/assets/aether/textures/entity/projectile/kingbdogz_wave.png
  src/main/resources/assets/aether/textures/item/weapons/hammer_of_kingbdogz.png
  src/main/resources/packs/classic_base/assets/aether/textures/entity/projectile/kingbdogz_wave.png
  src/main/resources/packs/classic_base/assets/aether/textures/item/weapons/hammer_of_kingbdogz.png
Labels: status/pending-review, feat/item

#936 refactor: Adjust fog, sky, and cloud colors during weather
  src/main/java/com/gildedgames/aether/client/event/hooks/DimensionClientHooks.java
  src/main/java/com/gildedgames/aether/client/event/listeners/DimensionClientListener.java
  src/main/java/com/gildedgames/aether/client/renderer/level/AetherSkyRenderEffects.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/LevelRendererAccessor.java
  src/main/resources/aether.mixins.json
Labels: status/pending-review

#948 fix: Fixed void fog again
  src/main/java/com/gildedgames/aether/client/event/listeners/DimensionClientListener.java
Labels: status/pending-review

#947 fix(entity): Boss fixes
  src/main/java/com/gildedgames/aether/client/renderer/entity/ValkyrieQueenRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/ValkyrieRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/layers/ValkyrieWingsLayer.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
Labels: feat/entity

#944 feat(structure): Structure placements
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/.cache/22b50738883487d1ef1961d9e5ff26fe1c21b339
  src/generated/resources/data/aether/tags/blocks/non_tunnel_replaceable.json
  src/generated/resources/data/aether/worldgen/density_function/base_3d_noise_aether.json
  src/generated/resources/data/aether/worldgen/noise_settings/skylands.json
  src/generated/resources/data/aether/worldgen/structure/bronze_dungeon.json
  src/generated/resources/data/aether/worldgen/structure_set/bronze_dungeon.json
  src/generated/resources/data/aether/worldgen/structure_set/silver_and_gold_dungeons.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBlockTagData.java
  src/main/java/com/gildedgames/aether/data/resources/builders/AetherNoiseBuilders.java
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherDensityFunctions.java
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherStructureSets.java
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherStructures.java
  src/main/java/com/gildedgames/aether/world/structure/BronzeDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structure/GoldDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structure/SilverDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structurepiece/AetherStructurePieceTypes.java
  src/main/java/com/gildedgames/aether/world/structurepiece/AetherTemplateStructurePiece.java
  src/main/java/com/gildedgames/aether/world/structurepiece/BronzeDungeonGraph.java
  src/main/java/com/gildedgames/aether/world/structurepiece/BronzeDungeonPieces.java
  src/main/java/com/gildedgames/aether/world/structurepiece/GoldDungeonPieces.java
  src/main/java/com/gildedgames/aether/world/structurepiece/SilverDungeonPieces.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeBossRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeDungeonBuilder.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeDungeonPiece.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeDungeonRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/bronzedungeon/BronzeTunnel.java
  src/main/java/com/gildedgames/aether/world/structurepiece/golddungeon/GoldBossRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/golddungeon/GoldDungeonPiece.java
  src/main/java/com/gildedgames/aether/world/structurepiece/golddungeon/GoldIsland.java
  src/main/java/com/gildedgames/aether/world/structurepiece/golddungeon/GoldStub.java
  src/main/java/com/gildedgames/aether/world/structurepiece/golddungeon/GoldTunnel.java
  src/main/java/com/gildedgames/aether/world/structurepiece/golddungeon/GumdropCave.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/LegacyCloudBed.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverBossDetail.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverBossRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverDungeonBuilder.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverDungeonPiece.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverDungeonRoom.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverFloorPiece.java
  src/main/java/com/gildedgames/aether/world/structurepiece/silverdungeon/SilverTemplePiece.java
  src/main/resources/data/aether/structures/bronze_dungeon/chest_room.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/end_corridor.nbt
  src/main/resources/data/aether/structures/bronze_dungeon/entrance.nbt
  src/main/resources/data/aether/structures/gold_dungeon/tunnel.nbt
  src/main/resources/data/aether/structures/silver_dungeon/rear.nbt
  src/main/resources/data/aether/structures/silver_dungeon/skeleton.nbt
Labels: feat/world-gen

#945 refactor: Make lava freezing quieter
  src/main/java/com/gildedgames/aether/block/FreezingBehavior.java
  src/main/java/com/gildedgames/aether/block/FreezingBlock.java
  src/main/java/com/gildedgames/aether/item/accessories/abilities/FreezingAccessory.java
Labels: status/pending-review, feat/item, feat/block

#932 fix: Equip sound fixes for armor
  src/main/java/com/gildedgames/aether/inventory/menu/AccessoriesMenu.java
Labels: status/pending-review, feat/item

#949 refactor(block): Experiment with original-accurate block hardness
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
Labels: status/in-progress, feat/block

#950 feat: Rebalance mob spawns
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/.cache/22b50738883487d1ef1961d9e5ff26fe1c21b339
  src/generated/resources/data/aether/tags/blocks/aerwhale_spawnable_on.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_forest.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_grove.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_meadow.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_woodland.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBlockTagData.java
  src/main/java/com/gildedgames/aether/data/resources/builders/AetherBiomeBuilders.java
  src/main/java/com/gildedgames/aether/entity/AetherEntityTypes.java
  src/main/java/com/gildedgames/aether/entity/monster/AbstractWhirlwind.java
  src/main/java/com/gildedgames/aether/entity/monster/Swet.java
  src/main/java/com/gildedgames/aether/entity/monster/Zephyr.java
  src/main/java/com/gildedgames/aether/entity/passive/Aerwhale.java
  src/main/java/com/gildedgames/aether/entity/passive/Moa.java
Labels: status/pending-review, feat/entity

#953 Update cockatrice_emissive.png
  src/main/resources/assets/aether/textures/entity/mobs/cockatrice/cockatrice_emissive.png
Labels: status/pending-review, feat/art

#951 fix(portal): Prevent portals from spawning on aerclouds
  src/generated/resources/.cache/22b50738883487d1ef1961d9e5ff26fe1c21b339
  src/generated/resources/data/aether/tags/blocks/aether_portal_blacklist.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/block/portal/AetherPortalForcer.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBlockTagData.java
  src/main/java/com/gildedgames/aether/entity/passive/Aerwhale.java
Labels: status/pending-review, feat/system

#952 Feat/oz/structure placement experiments
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/structure_set/bronze_dungeon.json
  src/generated/resources/data/aether/worldgen/structure_set/large_aercloud.json
  src/generated/resources/data/aether/worldgen/structure_set/silver_and_gold_dungeons.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherStructureSets.java
Labels: status/pending-review, feat/world-gen

#929 refactor: Golden Oaks generate more similar to how they used to
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/configured_feature/golden_oak_tree.json
  src/main/java/com/gildedgames/aether/Aether.java
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherConfiguredFeatures.java
  src/main/java/com/gildedgames/aether/world/foliageplacer/AetherFoliagePlacerTypes.java
  src/main/java/com/gildedgames/aether/world/foliageplacer/GoldenOakFoliagePlacer.java
  src/main/java/com/gildedgames/aether/world/trunkplacer/AetherTrunkPlacerTypes.java
  src/main/java/com/gildedgames/aether/world/trunkplacer/GoldenOakTrunkPlacer.java
Labels: status/in-progress, feat/world-gen

#957 fix: Rebalance spawn rates
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/biome/skyroot_forest.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_grove.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_meadow.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_woodland.json
  src/main/java/com/gildedgames/aether/data/resources/builders/AetherBiomeBuilders.java
Labels: status/pending-review, feat/entity

#954 adjusted ore distribution
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/configured_feature/gravitite_ore.json
  src/generated/resources/data/aether/worldgen/placed_feature/gravitite_ore.json
  src/generated/resources/data/aether/worldgen/placed_feature/zanite_ore.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherConfiguredFeatures.java
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherPlacedFeatures.java
Labels: status/pending-review, feat/world-gen

#956 Updated entity hitboxes
  src/main/java/com/gildedgames/aether/entity/AetherEntityTypes.java
Labels: status/pending-review, feat/entity

#958 Sentry Hitbox
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/Sentry.java
Labels: status/pending-review, feat/entity

#959 fix: Sentries no longer explode after they die
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/Sentry.java
Labels: status/pending-review, feat/entity

#961 improv: Moa Types now have a spawn weight property
  src/main/java/com/gildedgames/aether/api/AetherMoaTypes.java
  src/main/java/com/gildedgames/aether/api/registers/MoaType.java
  src/main/java/com/gildedgames/aether/entity/passive/Moa.java
Labels: status/pending-review

#960 fix(entity): Poison Needles now damage shields
  src/main/java/com/gildedgames/aether/entity/projectile/PoisonNeedle.java
Labels: status/pending-review, feat/entity

#962 fix(entity): Various mobs now drop experience when they didn't before
  src/main/java/com/gildedgames/aether/entity/monster/AechorPlant.java
  src/main/java/com/gildedgames/aether/entity/monster/Swet.java
  src/main/java/com/gildedgames/aether/entity/monster/Zephyr.java
  src/main/java/com/gildedgames/aether/entity/passive/Aerwhale.java
Labels: status/pending-review, feat/entity

#965 fix(entity): Swet fixes
  src/main/java/com/gildedgames/aether/entity/monster/Swet.java
Labels: status/pending-review, feat/entity

#963 refactor: Use RARE for Frosted Music Disc
  src/main/java/com/gildedgames/aether/item/AetherItems.java
Labels: feat/item

#964 fix: Baby Moas should no longer spawn naturally
  src/main/java/com/gildedgames/aether/entity/passive/Moa.java
Labels: feat/entity

#968 refactor: More mob spawn changes
  src/generated/resources/.cache/0fe122e549a2e3aeeca535edbc3649f31121d28e
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/.cache/22b50738883487d1ef1961d9e5ff26fe1c21b339
  src/generated/resources/data/aether/tags/blocks/zephyr_spawnable_on.json
  src/generated/resources/data/aether/tags/entity_types/aechor_plant_targets.json
  src/generated/resources/data/aether/tags/entity_types/aercloud_spawnable.json
  src/generated/resources/data/aether/tags/entity_types/swet_targets.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_forest.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_grove.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_meadow.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_woodland.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBlockTagData.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherEntityTagData.java
  src/main/java/com/gildedgames/aether/data/resources/builders/AetherBiomeBuilders.java
  src/main/java/com/gildedgames/aether/entity/ai/goal/target/NearestTaggedTargetGoal.java
  src/main/java/com/gildedgames/aether/entity/monster/AechorPlant.java
  src/main/java/com/gildedgames/aether/entity/monster/Swet.java
  src/main/java/com/gildedgames/aether/entity/monster/Zephyr.java
Labels: status/pending-review, feat/entity

#972 fix: slider top layer emissive
  src/main/resources/assets/aether/textures/entity/mobs/slider/slider_awake_critical.png
  src/main/resources/assets/aether/textures/entity/mobs/slider/slider_awake_critical_glow.png
Labels: status/pending-review, feat/art

#971 refactor: Spaced out floating structures
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/structure_set/silver_and_gold_dungeons.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherStructureSets.java
Labels: status/pending-review, feat/world-gen

#973 Update AetherConfig.java
  src/main/java/com/gildedgames/aether/AetherConfig.java
Labels: status/pending-review, feat/config

#975 fix(block): Furnace-like crafters can no longer duplicate container items
  src/main/java/com/gildedgames/aether/blockentity/AbstractAetherFurnaceBlockEntity.java
Labels: status/pending-review, feat/block

#974 improv(entity): Tag for entities unaffected by Whirlwinds
  src/generated/resources/.cache/0fe122e549a2e3aeeca535edbc3649f31121d28e
  src/generated/resources/data/aether/tags/entity_types/whirlwind_unaffected.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherEntityTagData.java
  src/main/java/com/gildedgames/aether/entity/monster/AbstractWhirlwind.java
Labels: status/pending-review, feat/entity

#980 shield recipe additions
  src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
  src/generated/resources/data/aether/advancements/recipes/combat/skyroot_iron_vanilla_shield.json
  src/generated/resources/data/aether/advancements/recipes/combat/skyroot_zanite_vanilla_shield.json
  src/generated/resources/data/aether/advancements/recipes/combat/wood_zanite_vanilla_shield.json
  src/generated/resources/data/aether/recipes/skyroot_iron_vanilla_shield.json
  src/generated/resources/data/aether/recipes/skyroot_zanite_vanilla_shield.json
  src/generated/resources/data/aether/recipes/wood_zanite_vanilla_shield.json
  src/main/java/com/gildedgames/aether/data/generators/AetherRecipeData.java
Labels: status/pending-review

#979 mild aerbunny debuff
  src/main/java/com/gildedgames/aether/entity/passive/Aerbunny.java
Labels: status/pending-review, feat/entity

#977 Improved Moa mount functionality
  src/main/java/com/gildedgames/aether/entity/MountableMob.java
  src/main/java/com/gildedgames/aether/entity/monster/Swet.java
  src/main/java/com/gildedgames/aether/entity/passive/Moa.java
  src/main/java/com/gildedgames/aether/entity/passive/MountableAnimal.java
Labels: status/pending-review, type/enhancement, feat/entity

#978 nerfed swets
  src/main/java/com/gildedgames/aether/entity/monster/Swet.java
Labels: status/pending-review, feat/entity

#976 fix: Gravitite-related exploits
  src/main/java/com/gildedgames/aether/block/miscellaneous/FloatingBlock.java
  src/main/java/com/gildedgames/aether/entity/block/FloatingBlockEntity.java
  src/main/java/com/gildedgames/aether/item/tools/abilities/GravititeTool.java
Labels: status/pending-review

#989 refactor!: Remove Pink Aerclouds
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/.cache/1742123cf955ee7ecf092ba55decb836aa65bc2c
  src/generated/resources/.cache/22b50738883487d1ef1961d9e5ff26fe1c21b339
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/.cache/93ef46d8e2a70c25df1652217c68bb7a1c161142
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/blockstates/pink_aercloud.json
  src/generated/resources/assets/aether/lang/en_us.json
  src/generated/resources/assets/aether/models/block/pink_aercloud.json
  src/generated/resources/assets/aether/models/item/pink_aercloud.json
  src/generated/resources/data/aether/loot_tables/blocks/pink_aercloud.json
  src/generated/resources/data/aether/tags/blocks/aerclouds.json
  src/generated/resources/data/aether/tags/items/aerclouds.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_forest.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_grove.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_meadow.json
  src/generated/resources/data/aether/worldgen/biome/skyroot_woodland.json
  src/generated/resources/data/aether/worldgen/configured_feature/pink_aercloud.json
  src/generated/resources/data/aether/worldgen/placed_feature/pink_aercloud.json
  src/generated/resources/data/minecraft/tags/blocks/mineable/hoe.json
  src/main/java/com/gildedgames/aether/AetherConfig.java
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
  src/main/java/com/gildedgames/aether/data/generators/AetherBlockStateData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherItemModelData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherBlockLoot.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBlockTagData.java
  src/main/java/com/gildedgames/aether/data/resources/AetherFeatureStates.java
  src/main/java/com/gildedgames/aether/data/resources/builders/AetherBiomeBuilders.java
  src/main/java/com/gildedgames/aether/data/resources/builders/AetherPlacedFeatureBuilders.java
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherConfiguredFeatures.java
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherPlacedFeatures.java
  src/main/java/com/gildedgames/aether/item/AetherCreativeTabs.java
  src/main/resources/assets/aether/lang/de_de.json
  src/main/resources/assets/aether/lang/en_ud.json
  src/main/resources/assets/aether/lang/es_mx.json
  src/main/resources/assets/aether/lang/fr_fr.json
  src/main/resources/assets/aether/lang/id_id.json
  src/main/resources/assets/aether/lang/it_it.json
  src/main/resources/assets/aether/lang/ja_jp.json
  src/main/resources/assets/aether/lang/ko_kr.json
  src/main/resources/assets/aether/lang/lol_us.json
  src/main/resources/assets/aether/lang/nl_nl.json
  src/main/resources/assets/aether/lang/pl_pl.json
  src/main/resources/assets/aether/lang/ro_ro.json
  src/main/resources/assets/aether/lang/ru_ru.json
  src/main/resources/assets/aether/lang/sv_se.json
  src/main/resources/assets/aether/lang/th_th.json
  src/main/resources/assets/aether/lang/uk_ua.json
  src/main/resources/assets/aether/lang/zh_cn.json
  src/main/resources/assets/aether/lang/zh_tw.json
  src/main/resources/assets/aether/textures/block/natural/pink_aercloud.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/pink_aercloud.png
Labels: feat/block

#987 improv: Mimics and fire minions have a shorter attack range
  src/main/java/com/gildedgames/aether/entity/ai/goal/ContinuousMeleeAttackGoal.java
Labels: status/pending-review, feat/entity

#988 improv: Trapped blocks
  src/main/java/com/gildedgames/aether/block/dungeon/TrappedBlock.java
Labels: status/pending-review, feat/block

#990 fix: Sync eternal day on respawn
  src/main/java/com/gildedgames/aether/event/hooks/CapabilityHooks.java
  src/main/java/com/gildedgames/aether/event/listeners/capability/AetherTimeListener.java
Labels: status/pending-review, feat/system

#992 fix: Moa render crashing if a Moa is rendered before its type is set
  src/main/java/com/gildedgames/aether/client/renderer/entity/MoaRenderer.java
  src/main/java/com/gildedgames/aether/entity/passive/Moa.java
Labels: status/pending-review, feat/entity

#994 fix(block): Fix another Enchanted Gravitite duplication bug
  src/main/java/com/gildedgames/aether/block/miscellaneous/FloatingBlock.java
  src/main/java/com/gildedgames/aether/item/tools/abilities/GravititeTool.java
Labels: status/pending-review, feat/block

#996 improv: Ambrosium as furnace fuel
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
  src/main/java/com/gildedgames/aether/item/block/AmbrosiumBlockItem.java
  src/main/java/com/gildedgames/aether/item/materials/AmbrosiumShardItem.java
Labels: status/pending-review

#993 fix(entity): Invisbility no longer confuses Slider
  src/main/java/com/gildedgames/aether/entity/ai/brain/sensing/InDungeonPlayerSensor.java
  src/main/java/com/gildedgames/aether/event/listeners/abilities/AccessoryAbilityListener.java
Labels: status/pending-review, feat/entity

#998 Dungeon Spawning Rebalancing
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/structure_set/bronze_dungeon.json
  src/generated/resources/data/aether/worldgen/structure_set/silver_and_gold_dungeons.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherStructureSets.java
Labels: status/pending-review

#995 fix(entity): Mount and Moa fixes
  src/generated/resources/.cache/735031f3addf80804addae5e3f53249900116f1e
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/generated/resources/assets/aether/sounds.json
  src/main/java/com/gildedgames/aether/client/AetherSoundEvents.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/model/BipedBirdModel.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherSoundData.java
  src/main/java/com/gildedgames/aether/entity/WingedBird.java
  src/main/java/com/gildedgames/aether/entity/passive/Aerbunny.java
  src/main/java/com/gildedgames/aether/entity/passive/Moa.java
  src/main/java/com/gildedgames/aether/entity/passive/MountableAnimal.java
  src/main/java/com/gildedgames/aether/entity/passive/WingedAnimal.java
Labels: status/pending-review, feat/entity

#1000 Sun Spirit rebalances
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/IceCrystal.java
Labels: status/pending-review, feat/entity

#1001 vignette transparency added
  src/main/resources/assets/aether/textures/blur/inebriation_vignette.png
  src/main/resources/assets/aether/textures/blur/remedy_vignette.png
Labels: status/pending-review, feat/art

#999 fix: Gravitite Ore drop fixes
  src/main/java/com/gildedgames/aether/entity/block/FloatingBlockEntity.java
Labels: status/pending-review

#1002 refactor: Plant patches have the ability to spawn under overhangs
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/placed_feature/berry_bush_patch.json
  src/generated/resources/data/aether/worldgen/placed_feature/grass_patch.json
  src/generated/resources/data/aether/worldgen/placed_feature/purple_flower_patch.json
  src/generated/resources/data/aether/worldgen/placed_feature/tall_grass_patch.json
  src/generated/resources/data/aether/worldgen/placed_feature/white_flower_patch.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherPlacedFeatures.java
Labels: status/pending-review, feat/world-gen

#1004 fix: Remove orange moas
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/.cache/93ef46d8e2a70c25df1652217c68bb7a1c161142
  src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/generated/resources/assets/aether/models/item/orange_moa_egg.json
  src/generated/resources/data/aether/advancements/recipes/incubation/orange_moa_incubation.json
  src/generated/resources/data/aether/recipes/orange_moa_incubation.json
  src/generated/resources/data/aether/tags/items/moa_eggs.json
  src/generated/resources/data/forge/tags/items/eggs.json
  src/main/java/com/gildedgames/aether/api/AetherMoaTypes.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/MoaRenderer.java
  src/main/java/com/gildedgames/aether/data/generators/AetherItemModelData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherRecipeData.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
  src/main/java/com/gildedgames/aether/item/AetherCreativeTabs.java
  src/main/java/com/gildedgames/aether/item/AetherItems.java
  src/main/resources/assets/aether/lang/de_de.json
  src/main/resources/assets/aether/lang/en_ud.json
  src/main/resources/assets/aether/lang/es_mx.json
  src/main/resources/assets/aether/lang/fr_fr.json
  src/main/resources/assets/aether/lang/id_id.json
  src/main/resources/assets/aether/lang/it_it.json
  src/main/resources/assets/aether/lang/ja_jp.json
  src/main/resources/assets/aether/lang/ko_kr.json
  src/main/resources/assets/aether/lang/lol_us.json
  src/main/resources/assets/aether/lang/nl_nl.json
  src/main/resources/assets/aether/lang/pl_pl.json
  src/main/resources/assets/aether/lang/ro_ro.json
  src/main/resources/assets/aether/lang/ru_ru.json
  src/main/resources/assets/aether/lang/sv_se.json
  src/main/resources/assets/aether/lang/th_th.json
  src/main/resources/assets/aether/lang/uk_ua.json
  src/main/resources/assets/aether/lang/zh_cn.json
  src/main/resources/assets/aether/lang/zh_tw.json
  src/main/resources/assets/aether/textures/entity/mobs/moa/orange_moa.png
Labels: status/pending-review

#1005 build: Add Debug Utils as a runtime dependency
  .circleci/config.yml
  build.gradle
  gradle.properties
  src/main/java/com/gildedgames/aether/mixin/mixins/debug/DebugPacketsMixin.java
  src/main/java/com/gildedgames/aether/mixin/mixins/debug/DebugRendererMixin.java
  src/main/java/com/gildedgames/aether/mixin/mixins/debug/PathAccessor.java
Labels: status/pending-review

#943 fix: Book of Lore resets pages properly and lore is more accurate
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/gildedgames/aether/client/gui/screen/inventory/LoreBookScreen.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/resources/packs/classic_b173/assets/aether/lang/en_us.json
Labels: status/pending-review, feat/copy, feat/gui

#1008 fix: Parachute can no longer auto-deploy when player already has a vehicle
  src/main/java/com/gildedgames/aether/capability/player/AetherPlayerCapability.java
Labels: status/pending-review, feat/item

#1009 fix: Safer getting of MoaType
  src/main/java/com/gildedgames/aether/entity/passive/Moa.java
Labels: feat/entity

#1018 fix(item): Lance can receive more enchantments
  src/main/java/com/gildedgames/aether/item/combat/loot/ValkyrieLanceItem.java
Labels: status/pending-review, feat/item

#1017 improv(item): Better Obsidian Armor conversion
  src/main/java/com/gildedgames/aether/capability/player/AetherPlayer.java
  src/main/java/com/gildedgames/aether/capability/player/AetherPlayerCapability.java
  src/main/java/com/gildedgames/aether/item/combat/abilities/armor/PhoenixArmor.java
  src/main/java/com/gildedgames/aether/util/EquipmentUtil.java
Labels: status/pending-review, feat/item

#1006 feat: Adjust lightmap to not be warm-tinted
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/gildedgames/aether/AetherConfig.java
  src/main/java/com/gildedgames/aether/client/renderer/level/AetherSkyRenderEffects.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
Labels: status/pending-review

#1014 fix(item): Check for array size in Cloud Staff
  src/main/java/com/gildedgames/aether/item/combat/loot/CloudStaffItem.java
Labels: status/pending-review, feat/item

#1020 feat: More blue cape recipes
  src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
  src/generated/resources/data/minecraft/advancements/recipes/combat/blue_cape_blue_wool.json
  src/generated/resources/data/minecraft/advancements/recipes/combat/blue_cape_cyan_wool.json
  src/generated/resources/data/minecraft/advancements/recipes/combat/blue_cape_light_blue_wool.json
  src/generated/resources/data/minecraft/recipes/blue_cape_blue_wool.json
  src/generated/resources/data/minecraft/recipes/blue_cape_cyan_wool.json
  src/generated/resources/data/minecraft/recipes/blue_cape_light_blue_wool.json
  src/main/java/com/gildedgames/aether/data/generators/AetherRecipeData.java
Labels: status/pending-review
