Repository The-Aether-Team/The-Aether, pull requests merged in 2023-01, with the labels that each got.

#891 improv: Made pack descriptions, titles, and other things translatable
  gradle.properties
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/gildedgames/aether/Aether.java
  src/main/java/com/gildedgames/aether/client/event/hooks/GuiHooks.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/java/com/gildedgames/aether/data/providers/AetherLanguageProvider.java
  src/main/resources/pack.mcmeta
Labels: status/pending-review, feat/copy

#893 chore: Required Forge 44.0.36 -> 44.0.48
  src/main/resources/META-INF/mods.toml
Labels: status/pending-review

#894 refactor: Tweak Creative Tab items
  src/main/java/com/gildedgames/aether/item/AetherCreativeTabs.java
Labels: status/pending-review

#895 fix: Fix Valkyrie Armor wings
  src/main/java/com/gildedgames/aether/client/renderer/player/layer/PlayerWingsLayer.java
Labels: status/pending-review

#892 fix(entity): Rewrite the slider AI for boss balancing
  src/main/java/com/gildedgames/aether/Aether.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/SliderRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/layers/SliderGlowLayer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/model/SliderModel.java
  src/main/java/com/gildedgames/aether/entity/AetherEntityTypes.java
  src/main/java/com/gildedgames/aether/entity/BossMob.java
  src/main/java/com/gildedgames/aether/entity/ai/brain/memory/AetherMemoryModuleTypes.java
  src/main/java/com/gildedgames/aether/entity/ai/brain/sensing/AetherSensorTypes.java
  src/main/java/com/gildedgames/aether/entity/ai/brain/sensing/InDungeonPlayerSensor.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/Slider.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/Slider.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/SliderAi.java
  src/main/java/com/gildedgames/aether/event/hooks/EntityHooks.java
  src/main/java/com/gildedgames/aether/world/structurepiece/BronzeDungeonPieces.java
Labels: status/pending-review, type/enhancement, feat/entity

#898 fix(structure): Fix inconsistencies in structures that were not present in the original versions
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/.cache/22b50738883487d1ef1961d9e5ff26fe1c21b339
  src/generated/resources/data/aether/tags/blocks/cockatrice_spawnable_blacklist.json
  src/generated/resources/data/aether/worldgen/structure/bronze_dungeon.json
  src/generated/resources/data/aether/worldgen/structure/gold_dungeon.json
  src/generated/resources/data/aether/worldgen/structure/silver_dungeon.json
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherBlockTagData.java
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherStructures.java
  src/main/java/com/gildedgames/aether/world/structure/SilverDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structurepiece/AetherStructurePieceTypes.java
  src/main/java/com/gildedgames/aether/world/structurepiece/BronzeDungeonPieces.java
  src/main/java/com/gildedgames/aether/world/structurepiece/SilverDungeonPieces.java
  src/main/resources/data/aether/structures/silver_dungeon/boss_detail.nbt
  src/main/resources/data/aether/structures/silver_dungeon/boss_room.nbt
  src/main/resources/data/aether/structures/silver_dungeon/tall_staircase.nbt
Labels: status/in-progress, feat/world-gen

#899 feat(item): Valkyrie Cape and Golden Feather allow walking on Powder Snow
  gradle.properties
  src/main/java/com/gildedgames/aether/item/accessories/cape/ValkyrieCapeItem.java
  src/main/java/com/gildedgames/aether/item/accessories/miscellaneous/GoldenFeatherItem.java
Labels: status/pending-review, type/enhancement, feat/item

#901 refactor: Improve how some stuff is initialized and loaded
  src/main/java/com/gildedgames/aether/Aether.java
  src/main/java/com/gildedgames/aether/api/CustomizationsOptions.java
  src/main/java/com/gildedgames/aether/api/SunAltarWhitelist.java
  src/main/java/com/gildedgames/aether/client/AetherClient.java
  src/main/java/com/gildedgames/aether/inventory/AetherRecipeBookTypes.java
  src/main/java/com/gildedgames/aether/item/AetherItems.java
  src/main/java/com/gildedgames/aether/item/miscellaneous/bucket/SkyrootBucketItem.java
  src/main/java/com/gildedgames/aether/world/placementmodifier/AetherPlacementModifiers.java
Labels: type/refactor

#897 fix(entity): Fix the valkyrie AI
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/gildedgames/aether/Aether.java
  src/main/java/com/gildedgames/aether/api/DungeonTracker.java
  src/main/java/com/gildedgames/aether/block/dungeon/DoorwayBlock.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/java/com/gildedgames/aether/entity/BossMob.java
  src/main/java/com/gildedgames/aether/entity/ai/AetherBlockPathTypes.java
  src/main/java/com/gildedgames/aether/entity/ai/brain/sensing/InDungeonPlayerSensor.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/AbstractValkyrie.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/Valkyrie.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/Slider.java
  src/main/java/com/gildedgames/aether/entity/projectile/crystal/ThunderCrystal.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/FlyNodeEvaluatorAccessor.java
  src/main/resources/aether.mixins.json
Labels: status/pending-review, feat/entity

#904 feat(entity): Snowballs damage fire minions now
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/FireMinion.java
Labels: status/pending-review, feat/entity

#905 fix: Even more fixes to the Valkyrie Tools' range limiting
  gradle.properties
  src/generated/resources/.cache/93ef46d8e2a70c25df1652217c68bb7a1c161142
  src/generated/resources/assets/aether/models/item/boss_doorway_angelic_stone.json
  src/generated/resources/assets/aether/models/item/boss_doorway_carved_stone.json
  src/generated/resources/assets/aether/models/item/boss_doorway_hellfire_stone.json
  src/generated/resources/assets/aether/models/item/boss_doorway_light_angelic_stone.json
  src/generated/resources/assets/aether/models/item/boss_doorway_light_hellfire_stone.json
  src/generated/resources/assets/aether/models/item/boss_doorway_sentry_stone.json
  src/generated/resources/assets/aether/models/item/locked_angelic_stone.json
  src/generated/resources/assets/aether/models/item/locked_carved_stone.json
  src/generated/resources/assets/aether/models/item/locked_hellfire_stone.json
  src/generated/resources/assets/aether/models/item/locked_light_angelic_stone.json
  src/generated/resources/assets/aether/models/item/locked_light_hellfire_stone.json
  src/generated/resources/assets/aether/models/item/locked_sentry_stone.json
  src/generated/resources/assets/aether/models/item/trapped_angelic_stone.json
  src/generated/resources/assets/aether/models/item/trapped_carved_stone.json
  src/generated/resources/assets/aether/models/item/trapped_hellfire_stone.json
  src/generated/resources/assets/aether/models/item/trapped_light_angelic_stone.json
  src/generated/resources/assets/aether/models/item/trapped_light_hellfire_stone.json
  src/generated/resources/assets/aether/models/item/trapped_sentry_stone.json
  src/generated/resources/assets/aether/models/item/treasure_doorway_angelic_stone.json
  src/generated/resources/assets/aether/models/item/treasure_doorway_carved_stone.json
  src/generated/resources/assets/aether/models/item/treasure_doorway_hellfire_stone.json
  src/generated/resources/assets/aether/models/item/treasure_doorway_light_angelic_stone.json
  src/generated/resources/assets/aether/models/item/treasure_doorway_light_hellfire_stone.json
  src/generated/resources/assets/aether/models/item/treasure_doorway_sentry_stone.json
  src/main/java/com/gildedgames/aether/data/providers/AetherItemModelProvider.java
  src/main/java/com/gildedgames/aether/event/hooks/AbilityHooks.java
  src/main/java/com/gildedgames/aether/event/listeners/abilities/ToolAbilityListener.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/ItemMixin.java
  src/main/resources/aether.mixins.json
Labels: status/pending-review, feat/item

#907 refactor: Adjust delay for jumping with Aerbunnies
  src/main/java/com/gildedgames/aether/entity/passive/Aerbunny.java
Labels: status/pending-review, feat/entity

#908 fix(entity): Swets can grab crouching players. Frogs no longer eat swets with passengers.
  src/main/java/com/gildedgames/aether/entity/BossMob.java
  src/main/java/com/gildedgames/aether/entity/MountableMob.java
  src/main/java/com/gildedgames/aether/entity/monster/Swet.java
  src/main/java/com/gildedgames/aether/entity/passive/Moa.java
  src/main/java/com/gildedgames/aether/entity/passive/MountableAnimal.java
Labels: status/pending-review, feat/entity

#906 refactor: Change accessor names and formatting
  src/main/java/com/gildedgames/aether/api/TriviaGenerator.java
  src/main/java/com/gildedgames/aether/api/WorldDisplayHelper.java
  src/main/java/com/gildedgames/aether/block/dungeon/TrappedBlock.java
  src/main/java/com/gildedgames/aether/block/portal/AetherPortalBlock.java
  src/main/java/com/gildedgames/aether/block/portal/AetherPortalForcer.java
  src/main/java/com/gildedgames/aether/blockentity/AbstractAetherFurnaceBlockEntity.java
  src/main/java/com/gildedgames/aether/client/AetherColorResolvers.java
  src/main/java/com/gildedgames/aether/client/event/hooks/DimensionClientHooks.java
  src/main/java/com/gildedgames/aether/client/event/hooks/EntityRenderHooks.java
  src/main/java/com/gildedgames/aether/client/event/hooks/GuiHooks.java
  src/main/java/com/gildedgames/aether/client/gui/screen/inventory/AccessoriesScreen.java
  src/main/java/com/gildedgames/aether/client/gui/screen/menu/AetherTitleScreen.java
  src/main/java/com/gildedgames/aether/client/gui/screen/menu/VanillaLeftTitleScreen.java
  src/main/java/com/gildedgames/aether/client/renderer/AetherOverlays.java
  src/main/java/com/gildedgames/aether/client/renderer/accessory/GlovesRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/accessory/ShieldOfRepulsionRenderer.java
  src/main/java/com/gildedgames/aether/client/renderer/entity/layers/PhygHaloLayer.java
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherBlockLoot.java
  src/main/java/com/gildedgames/aether/data/providers/AetherBlockLootSubProvider.java
  src/main/java/com/gildedgames/aether/entity/MountableMob.java
  src/main/java/com/gildedgames/aether/entity/SkyrootBoatBehavior.java
  src/main/java/com/gildedgames/aether/entity/block/FloatingBlockEntity.java
  src/main/java/com/gildedgames/aether/entity/miscellaneous/Parachute.java
  src/main/java/com/gildedgames/aether/entity/passive/Aerbunny.java
  src/main/java/com/gildedgames/aether/entity/passive/MountableAnimal.java
  src/main/java/com/gildedgames/aether/event/hooks/DimensionHooks.java
  src/main/java/com/gildedgames/aether/event/listeners/DimensionListener.java
  src/main/java/com/gildedgames/aether/inventory/menu/AccessoriesMenu.java
  src/main/java/com/gildedgames/aether/item/accessories/abilities/SlowFallAccessory.java
  src/main/java/com/gildedgames/aether/item/combat/abilities/armor/ValkyrieArmor.java
  src/main/java/com/gildedgames/aether/item/miscellaneous/MoaEggItem.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/BlockColorsAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/EntityRendererAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/GuiAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/GuiComponentAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/I18nAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/PlayerModelAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/QuadrupedModelAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/RealmsPlayerScreenAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/ScreenAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/TitleScreenAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/AbstractContainerMenuAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/AbstractFurnaceBlockEntityAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/BaseSpawnerAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/BlockLootAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/BoatAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/ConcretePowderBlockAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/EntityAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/LevelAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/LevelStorageAccessAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/MinecraftServerAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/ServerGamePacketListenerImplAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/ServerLevelAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/WorldGenRegionAccessor.java
  src/main/java/com/gildedgames/aether/util/EntityUtil.java
  src/main/java/com/gildedgames/aether/world/placementmodifier/DungeonBlacklistFilter.java
Labels: status/pending-review, type/refactor

#910 fix(entity): Mimics now attack as soon as they find a player after spawning.
  src/main/java/com/gildedgames/aether/entity/ai/goal/ContinuousMeleeAttackGoal.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/Mimic.java
Labels: status/pending-review, feat/entity

#909 feat: 1.19.3 JEI integration
  build.gradle
  gradle.properties
  src/main/java/com/gildedgames/aether/integration/jei/AetherJEIPlugin.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/AbstractAetherCookingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/AltarRepairRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/EnchantingCookingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/FreezingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/IncubationRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/fuel/AetherFuelCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/fuel/AetherFuelRecipe.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/fuel/AetherFuelRecipeMaker.java
Labels: status/pending-review, type/compatibility

#911 fix(entity): The slider ignores shields
  src/main/java/com/gildedgames/aether/event/hooks/EntityHooks.java
  src/main/java/com/gildedgames/aether/event/listeners/EntityListener.java
Labels: status/pending-review, feat/entity

#912 refactor(item): Improve handheld Victory Medal model
  src/generated/resources/.cache/93ef46d8e2a70c25df1652217c68bb7a1c161142
  src/generated/resources/assets/aether/models/item/victory_medal.json
  src/main/java/com/gildedgames/aether/data/generators/AetherItemModelData.java
  src/main/java/com/gildedgames/aether/data/providers/AetherItemModelProvider.java
Labels: feat/item

#917 fix: Stripped wood blocks now drop properly
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/data/aether/loot_tables/blocks/stripped_skyroot_log.json
  src/generated/resources/data/aether/loot_tables/blocks/stripped_skyroot_wood.json
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherBlockLoot.java
Labels: status/pending-review, feat/block

#918 fix(entity): Fix leftover bugs for swets and valkyrie queens
  src/main/java/com/gildedgames/aether/entity/monster/Swet.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/ValkyrieQueen.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/AvoidObstacles.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/BackOffAfterAttack.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/Collide.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/Crush.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/Move.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/SetPathUpOrDown.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/slider/SliderAi.java
Labels: status/pending-review, feat/entity

#920 fix(lang): Change it's
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
Labels: status/pending-review, feat/copy

#916 feat(structure): Completed gold dungeon
  src/generated/resources/data/aether/worldgen/structure/gold_dungeon.json
  src/generated/resources/data/aether/worldgen/structure/silver_dungeon.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherStructures.java
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
  src/main/java/com/gildedgames/aether/util/BlockLogicUtil.java
  src/main/java/com/gildedgames/aether/world/processor/AetherStructureProcessors.java
  src/main/java/com/gildedgames/aether/world/processor/DungeonStoneProcessor.java
  src/main/java/com/gildedgames/aether/world/processor/VerticalGradientProcessor.java
  src/main/java/com/gildedgames/aether/world/structure/GoldDungeonStructure.java
  src/main/java/com/gildedgames/aether/world/structurepiece/AetherStructurePieceTypes.java
  src/main/java/com/gildedgames/aether/world/structurepiece/GoldDungeonPieces.java
  src/main/resources/data/aether/structures/gold_dungeon/boss_room.nbt
  src/main/resources/data/aether/structures/gold_dungeon/island.nbt
  src/main/resources/data/aether/structures/gold_dungeon/stub.nbt
  src/main/resources/data/aether/structures/gold_dungeon/tunnel.nbt
  src/main/resources/data/aether/worldgen/processor_list/bronze_dungeon_sentry_stone.json
  src/main/resources/data/aether/worldgen/template_pool/bronze_dungeon/chest_pool.json
  src/main/resources/data/aether/worldgen/template_pool/bronze_dungeon/hallway_pool.json
  src/main/resources/data/aether/worldgen/template_pool/bronze_dungeon/start_pool.json
Labels: status/pending-review, feat/world-gen

#922 fix: Portals will no longer replace unbreakable dungeon blocks
  src/main/java/com/gildedgames/aether/block/portal/AetherPortalForcer.java
Labels: status/pending-review, feat/block

#919 fix: Glove and invisibility fixes
  src/main/java/com/gildedgames/aether/capability/player/AetherPlayer.java
  src/main/java/com/gildedgames/aether/capability/player/AetherPlayerCapability.java
  src/main/java/com/gildedgames/aether/client/event/hooks/ArmRenderHooks.java
  src/main/java/com/gildedgames/aether/client/event/hooks/HandRenderHooks.java
  src/main/java/com/gildedgames/aether/client/event/listeners/ArmRenderListener.java
  src/main/java/com/gildedgames/aether/client/event/listeners/HandRenderListener.java
  src/main/java/com/gildedgames/aether/client/event/listeners/abilities/AccessoryAbilityClientListener.java
  src/main/java/com/gildedgames/aether/client/renderer/accessory/ShieldOfRepulsionRenderer.java
  src/main/java/com/gildedgames/aether/item/accessories/cape/InvisibilityCloakItem.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/ItemInHandRendererAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/accessor/LivingEntityAccessor.java
  src/main/resources/aether.mixins.json
Labels: status/pending-review, feat/item

#921 refactor: Tweak ore gen
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/configured_feature/gravitite_ore.json
  src/generated/resources/data/aether/worldgen/configured_feature/zanite_ore.json
  src/generated/resources/data/aether/worldgen/placed_feature/gravitite_ore.json
  src/generated/resources/data/aether/worldgen/placed_feature/zanite_ore.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherConfiguredFeatures.java
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherPlacedFeatures.java
Labels: status/pending-review, feat/world-gen

#927 fix: Don't use bamboo trapdoor noises for skyroot trapdoors
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
Labels: status/pending-review, feat/block

#928 refactor: Balance Neptune Armor
  src/main/java/com/gildedgames/aether/item/combat/abilities/armor/NeptuneArmor.java
Labels: feat/item

#931 feat: Phoenix Armor now gives slightly more visibility under lava
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/main/java/com/gildedgames/aether/client/event/hooks/DimensionClientHooks.java
  src/main/java/com/gildedgames/aether/client/event/listeners/DimensionClientListener.java
Labels: status/pending-review, feat/item

#933 fix: All textures from b1.7.3 and 1.2.5 resource packs work properly again
  src/main/java/com/gildedgames/aether/Aether.java
  src/main/java/com/gildedgames/aether/client/CombinedPackResources.java
Labels: status/pending-review, feat/art

#924 fix(entity): Fix aerbunny mount bugs
  src/main/java/com/gildedgames/aether/entity/passive/Aerbunny.java
Labels: feat/entity

#930 feat: Add Aerbunny to tag for Swet targets
  src/generated/resources/.cache/0fe122e549a2e3aeeca535edbc3649f31121d28e
  src/generated/resources/data/aether/tags/entity_types/swet_targets.json
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherEntityTagData.java
Labels: feat/entity

#923 refactor: Improve tools_debuff config description
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/gildedgames/aether/AetherConfig.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
Labels: feat/copy

#934 fix(entity): Slider no longer crashes on spawn
  src/main/java/com/gildedgames/aether/entity/ai/brain/sensing/InDungeonPlayerSensor.java
Labels: status/pending-review, feat/entity

#926 fix(item): Fix overlay for Hammer of Notch and also rebalance
  src/main/java/com/gildedgames/aether/AetherConfig.java
  src/main/java/com/gildedgames/aether/client/renderer/AetherOverlays.java
  src/main/java/com/gildedgames/aether/entity/projectile/weapon/HammerProjectile.java
Labels: feat/item
